<h1>Pokemon Database</h1>
by Rehan Hussain Imam
<!-- <br />
<br />
<br />
<a [routerLink]="'/'">Home</a> -->
<br />
<br />
<br />
<mat-divider></mat-divider>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Search your pokemon in this List</mat-label>
  <input
    type="email"
    matInput
    placeholder="Ex. Bulbasaur"
    [(ngModel)]="searchText"
  />
</mat-form-field>
<mat-divider></mat-divider>
<mat-form-field appearance="fill">
  <mat-label>Number of records to load</mat-label>
  <select
    matNativeControl
    [(ngModel)]="numberofdatatolist"
    (change)="mySelectionChange($event.value)"
    required
  >
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
  </select>
</mat-form-field>
<mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <button mat-button (click)="previouspage()">Previous</button>
    <button mat-button color="primary" (click)="nextpage()">Next</button>
  </div>
</section>
<mat-divider></mat-divider>
<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="1vw"
  fxLayoutAlign="flex-start"
>
  <div
    style="width:50vwl"
    *ngFor="let singlepokemondata of pokemondata | searchfilter: searchText"
    fxFlex="0 1 calc(25% - 1vw)"
    fxFlex.lt-xl="0 1 calc(30% - 1vw)"
    fxFlex.lt-lg="0 1 calc(40% - 1vw)"
    fxFlex.lt-md="0 1 calc(50% - 1vw)"
    fxFlex.lt-sm="100%"
  >
    <pokemon-card
      [pokemondata]="singlepokemondata"
      [fulldata]="fulldata"
    ></pokemon-card>
  </div>
</div>
