<div class="cardclass">
  <mat-card>
    <mat-card-content
      gdAreas="header header | side content | footer footer"
      gdGap="16px"
      gdRows="auto auto auto"
      gdAreas.lt-md="header | side | content | footer"
      gdRows.lt-md="auto auto auto auto"
    >
      <div class="simpleclass" gdArea="header">
        <h1 style="text-align:center">{{ pokemondata.name }}</h1>
      </div>
      <div
        class="simpleclass"
        gdArea="side"
        style="position: relative;margin:0 auto;"
      >
        <img mat-card-image [src]="pokemondata.imageurl" class="pokemonimage" />
      </div>
      <div class="simpleclass" gdArea="content">
        <mat-list>
          <mat-list-item>
            <strong>Height </strong> : {{ pokemondata.height }}
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item>
            <strong>Weight </strong> : {{ pokemondata.weight }}
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item>
            <a [routerLink]="'/details'" [state]="pokemondata"
              >View Full Details</a
            >
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="simpleclass" gdArea="footer">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Abilities </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list *ngIf="pokemondata.abilities.length != 0">
            <mat-list-item *ngFor="let singleability of pokemondata.abilities">
              {{ singleability.ability.name }}
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
  </mat-card>
</div>
